<%- include('layout/header') %>
	<div class="container mx-auto mt-8">
		<table class="table-fixed w-full text-center">
			<thead>
				<tr>
					<th class="w-1/12 p-2">ID</th>
					<th class="w-1/6 p-2">Image</th>
					<th class="w-1/4 p-2">Name</th>
					<th class="w-1/4 p-2">E-Mail</th>
					<th class="w-1/6 p-2">Phone</th>
					<th class="w-1/6 p-2">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="border p-2">1</td>
					<td class="border p-2"><img src="https://placehold.jp/1b58db/ffffff/80x80.png?text=dummy1" class="mx-auto" alt=""></td>
					<td class="border p-2">test1</td>
					<td class="border p-2">test1@test.com</td>
					<td class="border p-2">00000000000</td>
					<td class="border p-2 text-center">
						<a href="" class="text-indigo-600 inline pr-2"><i class="fas fa-edit fa-lg"></i></a>
						<a href="" class="text-red-600 inline"><i class="fas fa-trash fa-lg"></i></a>
					</td>
				</tr>
				<tr>
					<td class="border p-2">2</td>
					<td class="border p-2"><img src="https://placehold.jp/1b58db/ffffff/80x80.png?text=dummy2" class="mx-auto" alt=""></td>
					<td class="border p-2">test2</td>
					<td class="border p-2">test2@test.com</td>
					<td class="border p-2">11111111111</td>
					<td class="border p-2">
						<a href="" class="text-indigo-600 inline pr-2"><i class="fas fa-edit fa-lg"></i></a>
						<a href="" class="text-red-600 inline"><i class="fas fa-trash fa-lg"></i></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
<%- include('layout/footer') %>